.root {
  border-bottom: 1px solid white;
}

.root h2 {
  font-weight: 300;
  letter-spacing: 1px;
}

.root p {
  text-align: justify;
  font-weight: 100;
  letter-spacing: 1px;
  color: #028dff; /* CHANGE THIS COLOR */
}

.flexContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contactForm {
  width: 50%;
  height: 45vh;
}

.globeContainer {
  width: 50%;
}
