.root {
  border-bottom: 1px solid white;
}

.root h1 {
  font-weight: 300;
  letter-spacing: 1px;
}

.root p {
  text-align: justify;
  font-weight: 100;
  letter-spacing: 1px;
  color: #028dff; /* CHANGE THIS COLOR */
}

.flexContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.contactForm {
  width: 50%;
  height: 45vh;
  padding-top: 2rem;
}

.globeContainer {
  width: 50%;
}
