.root {
  height: 110px;
  width: 100%;
  padding-left: 20rem;
  padding-right: 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.root h1 {
  font-weight: 100;
  cursor: pointer;
}

.root ul {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.root ul li {
  cursor: pointer;
  list-style-type: none;
}
