.container {
  max-width: 68vw;
  margin: 0 auto;
}

.container section {
  padding-top: 6rem;
}

.container section:last-child {
  margin-bottom: 4rem;
}

@media (max-width: 768px) {
  .container {
    max-width: 95%;
  }
}
