.container {
  max-width: 68vw;
  margin: 0 auto;
}

.container section {
  padding-top: 3rem;
}

.container section h1 {
  font-size: 5rem;
  letter-spacing: 8px;
  margin-bottom: 3rem;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  /* -webkit-text-stroke-color: black; */
  color: transparent;
}

.container section:last-child {
  margin-bottom: 4rem;
}

@media (max-width: 768px) {
  .container {
    max-width: 95%;
  }

  .container section h1 {
    font-size: 3rem;
  }
}
