.root {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}

.topRow {
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image {
  max-width: 50%;
  height: 350px;
  border: 1px solid red;
}

.presentationGroup {
  min-width: 50%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.title {
  align-self: flex-start;
}

.description {
  text-align: justify;
}

.bottomRow {
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  min-width: 100px;
}
