.root {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.root .presentationGroup:first-of-type {
  margin-left: 1rem;
}

.topRow {
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image {
  max-width: 50%;
  border: 1px solid red;
}

.presentationGroup {
  min-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.title {
  align-self: center;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.description {
  font-weight: 100;
  text-align: justify;
}

.bottomRow {
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  min-width: 90px;
  margin-bottom: 1rem;
}

.icon {
  height: 40px;
  width: 40px;
}

.githubIcon:hover {
  fill: #6e5494;
}

.liveIcon {
  transition: 0.2s all;
}

.liveIcon:hover {
  fill: #a23333;
}
