.layoutContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.layoutContainer section {
  min-height: 800px;
}

.burgerWrapper {
  display: none;
}

.navbarWrapper {
  position: sticky;
  top: 0;
  z-index: 999;
}

@media (max-width: 1270px) {
  .burgerWrapper {
    display: block;
  }

  .navbarWrapper {
    display: none;
  }
}
