@font-face {
  font-family: "Badaboom";
  src: url("/static/fonts/Badaboom/badaboom.ttf"), format("ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

.root {
  position: relative;
  border-bottom: 1px solid white;
}

.vintageMan {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 8%;
  right: 0;
}

.hoverInfo {
  text-align: center;
}

.tooltip {
  max-width: fit-content;
  text-align: center;
}

.tooltipMessage {
  font-family: "Badaboom";
}

.hoverMe {
  text-align: center;
  font-weight: 800;
  padding: 8px;
  min-width: 100%;
  transform: skew(-25deg);
}

@media (min-width: 1365px) {
  .root div:first-of-type {
    width: 60%;
  }
}

@media (max-width: 1364px) {
  .vintageMan {
    display: none;
  }
}
