@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

.root {
  height: 90vh;
  overflow: hidden;
  margin-bottom: 2rem;
}

.heroContent {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  font-family: "Raleway", sans-serif;
}

.backgroundVideo {
  width: 100% !important;
  height: 100% !important;
}

.heroContent h1 {
  letter-spacing: 2px;
  font-size: 5rem;
  font-weight: 900;
  text-align: justify;
}

.heroContent p {
  color: rgb(29, 164, 182);
  font-weight: 100;
  letter-spacing: 1px;
  font-size: 2.5rem;
}

@media (max-width: 1270px) {
  .root {
    height: 100vh;
  }
}

@media (max-width: 1190px) {
  .heroContent h1 {
    font-size: 4rem;
  }

  .heroContent p {
    font-size: 1.8rem;
  }
}

@media (max-width: 1032px) {
  .heroContent h1 {
    font-size: 3.8rem;
  }

  .heroContent p {
    font-size: 1.6rem;
  }
}

@media (max-width: 1032px) {
  .heroContent h1 {
    font-size: 3.6rem;
  }

  .heroContent p {
    font-size: 1.4rem;
  }
}

@media (max-width: 782px) {
  .heroContent h1 {
    font-size: 3.4rem;
  }

  .heroContent p {
    font-size: 1.2rem;
  }
}

@media (max-width: 660px) {
  .heroContent h1 {
    font-size: 3.4rem;
  }

  .heroContent p {
    font-size: 1rem;
  }
}

@media (max-width: 580px) {
  .heroContent h1 {
    font-size: 3rem;
  }

  .heroContent p {
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  .heroContent h1 {
    font-size: 2rem;
  }

  .heroContent p {
    font-size: 0.7rem;
  }
}
